<p><%= link_to 'Articles listing', articles_path %></p>
<p><%= link_to 'Home Page', root_path %></p>
<!-- Paste this inside any layout or view for testing -->
<div class="dropdown m-5">
  <button class="btn btn-primary dropdown-toggle" type="button" id="testDropdown" data-bs-toggle="dropdown" aria-expanded="false">
    Test Dropdown
  </button>
  <ul class="dropdown-menu" aria-labelledby="testDropdown">
    <li><a class="dropdown-item" href="#">Action 1</a></li>
    <li><a class="dropdown-item" href="#">Action 2</a></li>
  </ul>
</div>
